  body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #000000;
    margin: 20px;
  }

  h2 {
    color: #2b5d8f;
  }

  p, input {
    padding: 8px;
    background: #fff;
    color:#000000;
    border: 1px solid #000000;
    border-radius: 4px;
    display: inline-block;
  }


  button{
    padding: 6px 10px;
    background: #6490b5;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background: #ffffff;
    color: #6490b5;
  }

  pre {
    background: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }